#main-container {
	

}

p {
	font-family: 'Contrail One', sans-serif;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-family: 'Contrail One', sans-serif;
	color: green;
}

#jumbotron {
	border-style: solid;
	border-color: silver;
	border-width: 20px;
	background-color: white;
}

.whiteboard {
	opacity: 0.3;
	height: 100%;
	width: 100%;
}

/*.eraser {
	width: 56px;
	height: 20px;
	background: black;
	padding: 0 100 0 0;
}*/

.black-marker {

}

.green-marker {

}